[submodule "linux/.tmux/plugins/tpm"]
	path = linux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "linux/.tmux/plugins/tmux-resurrect"]
	path = linux/.tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect.git
[submodule "linux/.tmux/plugins/tmux-continuum"]
	path = linux/.tmux/plugins/tmux-continuum
	url = https://github.com/tmux-plugins/tmux-continuum.git
[submodule "linux/.tmux/plugins/tmux-themepack"]
	path = linux/.tmux/plugins/tmux-themepack
	url = https://github.com/jimeh/tmux-themepack.git
