[user]
	email = ergal@163.com
	name = wancocoding
[diff]
	tool = vimdiff
[difftool]
	prompt = false
	trustExitCode = true
[http]
	proxy = socks5://127.0.0.1:1080
[commit]
	template = /home/vincent/.config/git_commit_template
[alias]
	p = push
	st = status -sb
	ll = log --oneline
	lla = log --oneline --decorate --graph --all
	last = log -1 HEAD --stat
	cm = commit
	cmm = commit -m
	co = checkout
	rv = remote -v
	d = diff
	dv = difftool -t vimdiff -y
	gl = config --global -l
	br = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
	undo = reset HEAD~1 --mixed
	ptom = push --follow-tags origin master

